@font-face {
  font-family: "Kayak Sans";
  src: "fonts/Kayak Sans Light.otf" format("opentype");
}
body {
  font-family: "Kayak Sans", Verdana, Arial;
  background: #F0F0F0;
  color: #336A86
}
table, td, th {
  font-size: 30px;
  border: 2px solid #FFFFFF
}
table {
  width: 500px
}
.top {
  border: 10px solid #90AFC5;
  padding: 20px;
  font-size: 40px;
  background: #336A86;
  color: #FFFFFF
}
.main {
  padding: 60px;
  font-size: 20px;
  text-align: center;
}
.links {
  font-size: 30px;
  font-weight: lighter;
}
.images {
  padding: 50px
}
a {
  background-color: #FFFFFF;
  padding: 5px;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  color: #336A86
}
img {
  max-width: 90%
}
